<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Coca-cola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Inicio</h1>

    <div style="margin-top:20px;">
        <!-- descarga la plantilla (usa ?template=nombre.xlsx para especificar otra) -->
        <a class="btn" href="{{ url_for('download_report') }}">Descargar plantilla con datos</a>
    </div>
    {% endblock %}
</body>
</html>